__pycache__
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp
*.mp4

# Ignore pickeld models
*.pkl
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
# Ignore Python bytecode files
__pycache__/
*.pyc
# Ignore virtual environment directories
venv/
# Ignore log files
*.log
# Ignore dataset files
datasets/
# Ignore configuration files
config.json
# Ignore temporary files
*.tmp
# Ignore system files
.DS_Store
# Ignore environment files
.env
